body {
    background-color: #FFDA29;
    color: black;
    scroll-behavior: smooth;
}

#titulo {
    font-weight: bolder;
}

/* Header */
.navbar, .section-title {
    background-color: #FFDA29;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar a, .section-title h2 {
    color: black;
}

.media-body {
    color: black;
}

/* Botão Whatsapp */
.whatsapp-btn {
    background-color: black;
    color: yellow;
    border: none;
}

.whatsapp-btn:hover {
    background-color: #333;
    color: #fff;
}

/* Carrossel Serviços */
.card-carrossel {
    padding: 10px;
    background-color: #0052a4;
    border-radius: 5px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
}

.carousel-item {
    min-height: 300px;
    border: #0052a4;
}

.btn-custom {
    background-color: #000000;
    color: #FFD700;
    border: none;
}

.btn-custom:hover {
    background-color: #333333;
    color: #FFD700;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* Depoimentos */
#depoimentos {
    margin-top: 50px;
}

.card-depoimento {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FFDA29;
    color: black;
}

.card-img-left {
    width: 150px;
    height: auto;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.autor-depoimento {
    margin-top: 10px;
    color: #555;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .card-depoimento {
        flex-direction: column;
        text-align: center;
    }

    .card-img-left {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .card-body {
        padding: 15px;
    }
}

.card {
    background-color: #FFDA29;
    color: black;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section {
    padding: 60px 0;
}

/* Formulário */
form {
    background-color: #FFDA29; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Campos do formulário */
.form-control {
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    padding: 10px; 
    font-size: 16px;
    transition: border-color 0.3s ease; 
}

.form-control:focus {
    border-color: #000000; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); 
}

/* Botão de envio */
.btn-primary {
    background-color: #000000; 
    border-color: #707070; 
    padding: 10px 20px; 
    border-radius: 5px;
    font-size: 16px; 
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.btn-primary:hover {
    background-color: #37383a; 
    border-color: #707070;
}

/* Informações de contato */
.contact-info {
    background-color: #FFDA29; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    height: auto;
}

.contact-info h3 {
    font-size: 24px; 
    color: #000000; 
}

.contact-info p {
    font-size: 16px; 
    color: #000000; 
}

/* Redes Sociais */
.contact-info a {
    text-decoration: none; 
    display: inline-block; 
}

.contact-info a:hover {
    color: #000000; 
    text-decoration: none;
}

.redes-sociais {
    width: 48px;
    padding: 5px;
    display: inline-block; 
    vertical-align: middle;
}

/* Footer */ 
.footer {
    margin-top: 40px;
    background-color: #333;
    color: #FFDA29;
    padding: 10px;
    text-align: center;
}